.home {
    font-family: Arial, sans-serif;
  
    .home-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      border-bottom: 1px solid #ddd;
  
      .logo {
        img {
          width: 100px;
          height: auto;
        }
      }
    }
  
    .home-content {
      padding: 20px;
    }
  }
  